/*    Fontes e cores    */
:root {
    --cor-fundo: #c8a2c8;
    --cor-botao-num: #ffd463;
    --cor-botao-op: #ff69b4;
    --cor-botao-math: #fcbb14;
    --cor-display: #ff97d9;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffb777;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculadora {
    box-shadow: 0 0 25px 0 rgb(0,0,0,0.3);
    border-radius: 1em;
    overflow: hidden; 
    background-color: var(--cor-fundo);
}

.display {
    background-color: var(--cor-display);
    color: white;
    width: 34.5rem;
    padding: 3rem;
    text-align: right;
    font-size: 5rem;
    border-radius: 0 0 2rem 2rem;
}

[data-tecla = "somar"], [data-tecla = "subtrair"], [data-tecla = "multiplicar"], [data-tecla = "dividir"]{
    background-color: var(--cor-botao-math);
    color: white;
}

[data-tipo-tecla = "num"] {
    background-color: var(--cor-botao-num);
}

[data-tipo-tecla = "salvar"], [data-tipo-tecla = "limpar"], [data-tipo-tecla = "recuperar"] {
    background-color: var(--cor-botao-op);
    color: white;
}


button {
    border-radius: 20%;
    font-size: 2rem;
    cursor: pointer;
}

#equal {
    background-color: var(--cor-botao-math);
    border-radius: 10%;
    font-size: 2.5rem;
    padding: 0 6.75rem;
    cursor: pointer;
    color: white;
}

.teclas {
    padding: 3rem;
    display: grid;/*linhas e colunas que vamos usar*/
    gap: 1.5rem; /* separacao entre os elementos */
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(5, 6rem);
}